.fly-name.active{
    top: 99px!important;
    z-index: 10;
}
.list-compare-item .link-kontak-compare{
    display: inline-block;
    width: 88%;
}


.fly-name {
    position: fixed;
    top: -85px;
    background: rgba(238, 238, 238, 0.89);
    width: 1170px;
    z-index: 9;
    height: 100px;
    border-bottom: 1px solid #FFF;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

@media (max-width: 576px) {
    /* line 18, E:/172 Etrain Education/172_Etrain_Education_html/sass/_common.scss */
    .fly-name{
        max-width:381.2px
    }
}
@media (min-width:576px){
    .fly-name{
        max-width:540px
    }
}
@media (min-width:768px){
    .fly-name{
        max-width:720px
    }
}
@media (min-width:992px){
    .fly-name{
        max-width:960px
    }
}
@media (min-width:1200px){
    .fly-name{
        max-width:1140px
    }
}

.fly-name-universitas {
    height: 80px !important;
}
.fly-name .list-compare-item{
    padding: 0px 0px 0px;
    height: auto;
}
.fly-name .list-compare-item .kampus-name{
    color: #333;
    font-size: 9px;
    height: 60px;
    padding: 3px 10px 0px 10px;
}
.fly-name .list-compare-item .kampus-name span{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.fly-name .list-compare-item .kampus-name img{
    max-width: 40px;
}
.fly-name.active {
    top: 85px;
}
.data-wrap{
    align-items: center;
    align-self: center;
    justify-content: center;
}
.list-compare-item {
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
    vertical-align: top;
    white-space: normal;
    padding: 20px;
    float: left;
}
.list-compare-item .kampus-name {
    font-weight: bold;
    margin: 5px 0px 15px;
    text-transform: uppercase;
    min-height: 60px;
}
.subhead {
    background: #EEE url('../img/linecolor.jpg') no-repeat;
    background-position: 100% 110%;
    background-size: contain;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/* .subhead-back {
    position: relative;
    margin-top: 130px;
    margin-bottom: 30px;
} */

.subhead h3{
    font-size:18px;
    color:#F16026;
    margin:0px;
    font-weight: bold;
}

.sub-head-htwo{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: normal;
}

.list-row {
    width: 100%;
    /* border-bottom: 1px solid #dbdbdb; */
    padding: 15px 10px 26px
}

.list-block {
    float: left;
    font-size: 14px;
    color: #555;
    padding: 2px 0 4px;
    line-height: 24px;
    padding: .5em 3em .5em 0em;
    text-align: center;
}

.close {
    right: 0;
    top: -7px;
    width: 20px;
    height: 20px;
    background: url("../img/icon/compare-close-btn.png") 0 0 no-repeat;
    position: absolute;
    display: none;
    cursor: pointer;
}

.list-block .list-img img {
    width: 100%;
    height: auto;
    max-width: 120px
}

.list-block .list-info {
    font-size: 16px;
    color: #222;
}

.list-block .list-info .title {
    line-height: 2;
    font-weight: 500;
    font-size: 18px;
}

.list-block-del {
    right: 135px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url(../img/icon/compare-close-btn.png) 0 0 no-repeat;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.list-block:hover .list-block-del {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.list-compare-item:hover .list-block-del {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#section_perbandingan {
    margin-top: -120px;
}
